@model Futebox.Pages.PartidasModel
@{
}
<style>


    .score .fs-score {
        font-size: 430px !important;
        line-height: 1;
        text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff;
    }

    .score > .x {
        font-size: 90px !important;
        text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff;
    }

    .h {
        font-size: 120px;
    }

    .f {
        font-size: 50px;
    }

    .name-l,
    .name-r {
        font-size: 72px;
        text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff;
    }

    .logo-l > img,
    .logo-r > img {
        width: 432px;
    }

    .h-100 {
        height: 100%;
    }

    #bg {
        background: url('img/bg.png');
        background-size: cover;
    }

    #content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .wm {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: .1;
    }

        .wm > img {
            width: 100%;
            margin-top: 33%;
        }
</style>
@if (Model.qsPageViewMode == Models.Enums.PageViewModes.padrao)
{
    <style>
        #card{
            zoom: .5;
        }
    </style>
}
<div id="content" class="card text-center">
    <div class="wm">
        <img src="~/img/logo-1.png" />
    </div>
    <div class="card-header h fs-sport">
        @Model.partida.campeonato
    </div>
    <div class="card-body" id="bg">
        <div class="d-flex justify-content-between flex-column align-items-center">
            <div class="d-flex justify-content-between align-items-center fs-sport">
                <div class="logo-l">
                    <img src="@(Model.partida.timeMandante.ObterLogoLocal())" />
                    <div class="name-l">
                        @(Model.partida.timeMandante.sigla)
                    </div>
                </div>
            </div>
            <div class="score d-flex justify-content-between align-items-center">
                <div id="placar-1" class="fs-score fs-2">@(Model.qsPageViewMode == Models.Enums.PageViewModes.thumb ? "?" : string.IsNullOrEmpty(Model.partida.golsMandante) ? "0" : Model.partida.golsMandante)</div>
                <div class="x">x</div>
                <div id="placar-2" class="fs-score fs-2">@(Model.qsPageViewMode == Models.Enums.PageViewModes.thumb ? "?" : string.IsNullOrEmpty(Model.partida.golsVisitante) ? "0" : Model.partida.golsVisitante)</div>
            </div>
            <div class="d-flex justify-content-between align-items-center fs-sport">
                <div class="logo-r">
                    <div class="name-r">
                        @(Model.partida.timeVisitante.sigla)
                    </div>
                    <img src="@(Model.partida.timeVisitante.ObterLogoLocal())" />

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted fs-sport f">
        @Model.partida.dataHoraDaPartida no estádio @Model.partida.estadio
    </div>
</div>