@model Futebox.Pages.RodadasModel
@{
}
<style>

    .wm {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: .1;
        display: none;
        position: fixed;
        z-index: 99999;
        text-align: center;
    }

        .wm > img {
            height: 100%;
            width: auto !important;
        }

    .focus .gerarpartida {
        display: none !important;
    }

    .focus .wm {
        display: block;
    }

    .focus {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(53,173,41);
        background: linear-gradient(45deg, rgba(53,173,41,1) 0%, rgba(176,255,169,1) 48%, rgba(69,217,54,1) 100%);
        /*width: 1920px;
        height: 1080px;*/
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

    img {
        width: 48px;
    }

    .focus img {
        width: 72px;
    }

    .focus td {
        font-size: 24px;
        font-weight: 600;
        border-color: #030303;
    }

        .focus td.fw-bold {
            font-size: 38px;
            font-weight: 900;
        }

    .focus .titulo {
        font-size: 108px;
    }

    .focus .sub {
        font-size: 72px;
    }

    .focus .legenda {
        font-size: 24px;
        font-weight: bold;
        padding-left: 8px;
    }

    .focus .name {
        font-size: 28px;
    }

    .focus .x {
        font-size: 108px;
        font-weight: 900;
    }

    .focus .card-footer, .focus .card-header {
        font-size: 22px;
    }

    .focus .card-body {
        min-height: 164px;
    }

    .focus .card {
        background: #ffffff5c !important;
    }

    .br {
        border-right: 1px solid #030303;
    }

    .sp {
        padding: 0 10px 0 10px;
    }
</style>
<div class="wm">
    <img src="~/img/logo-1.png" />
</div>
<h1 class="fs-sport text-center sub">@(Model.rodadaFoco)<sup>a</sup> Rodada !</h1>
<h1 class="fs-sport text-center titulo">@Model.nomeCampeonato</h1>
<div class="row sp">
    @foreach (var p in Model.partidas)
    {
        <div class="col-3 mb-2">
            <div id="content" class="card text-center">
                <div class="card-header fs-sport f">
                    @(p.dataPartida.ToString("ddd, d MMM yyyy - HH:mm"))
                </div>
                <div class="card-body" id="bg">
                    <div class="d-flex justify-content-around flex-row align-items-left">
                        <div class="d-flex justify-content-between align-items-center fs-sport">
                            <div class="logo-l d-flex flex-column align-items-center">
                                <img src="@(p.timeMandante.ObterLogoLocal())" />
                                <div class="name name-l ml-5">
                                    @(p.timeMandante.nome)
                                </div>
                            </div>
                        </div>
                        @*<div class="fs-sport">x</div>*@
                        <div class="d-flex justify-content-between align-items-center fs-sport">
                            <div class="logo-r d-flex flex-column align-items-center">
                                <img src="@(p.timeVisitante.ObterLogoLocal())" />
                                <div class="name name-r ml-5">
                                    @(p.timeVisitante.nome)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer fs-sport f">
                    estádio @p.estadio
                </div>
                <div class="card-footer gerarpartida fs-sport f">
                    <button onclick="GerarVideoPartida('@p.idExterno')" class="btn btn-outline-danger">⚙</button>
                </div>
            </div>
        </div>
    }
</div>

