@model Tuple<Futebox.Pages.ProcessosModel, Futebox.Models.Processo>
@{
    var processo = Model.Item2;
    var model = Model.Item1;
}
<tr data-row-id="@processo.id" class="align-middle">
    <td>
        <span class="badge @(model.cores[(int)processo.status])">&nbsp;</span>
    </td>
    <td>@processo.id</td>
    <td>@processo.nome</td>
    <td>@processo.tipo</td>
    <td>@(processo.agendado ? "sim" : "não")</td>
    <td>
        <div class="input-group">
            <input type="time" class="hora form-control form-control-sm" value="@(processo.agendamento?.ToString("HH:mm"))">
            <button class="btn btn-sm btn-outline-info" onclick="Agendar('@processo.id');">⌚</button>
        </div>
    </td>
    <td>
        <button class="btn btn-sm btn-outline-info" onclick="Play('@processo.id');">▶</button>
        <button class="btn btn-sm btn-outline-danger" onclick="Delete('@processo.id');">❌</button>
        <button class="btn btn-sm btn-outline-dark" onclick="Abrir('@processo.id');">📂</button>
        @*<button class="btn btn-sm btn-outline-dark" onclick="Notificar('@processo.id');">TESTAR</button>*@
    </td>
</tr>