@model Tuple<Futebox.Pages.ProcessosModel, Futebox.Models.Processo>
@{
    var processo = Model.Item2;
    //var indexStr = $"00000000{Model.Item2}";
    //var index = processo.portaExecucao ?? $"219{indexStr.Substring(indexStr.Length - 2)}";
    var model = Model.Item1;
}
<tr data-row-id="@processo.id">
    <td width="60%" class="pb-0">
        <b>@processo.id</b><br />
        @processo.nome<br />
        @processo.categoria
    </td>
    <td width="40%" valign="middle" class="pb-0">
        <div class="input-group">
            <input type="date" class="data form-control form-control-sm" value="@(processo.agendamento?.ToString("yyyy-MM-dd"))">
            <input type="time" class="hora form-control form-control-sm" value="@(processo.agendamento?.ToString("HH:mm"))">
            <button class="btn btn-sm btn-outline-info" onclick="Agendar('@processo.id');">📅&nbsp;Agendar</button>
        </div>
        <div class="row">
            <div class="btn-group" role="group">
                <button class="btn btn-sm btn-outline-dark pt-2" onclick="Pasta('@processo.id');">
                    @*<object style="cursor:pointer;height: 2rem;" data="~/img/icones/log.svg"></object>*@
                    📂&nbsp;Pasta 
                </button>
                <button class="btn btn-sm btn-outline-dark pt-2" onclick="Log('@processo.id');">
                    @*<object style="cursor:pointer;height: 2rem;" data="~/img/icones/log.svg"></object>*@
                    🧾&nbsp;Log
                </button>
                <button class="btn btn-sm btn-outline-danger pt-2" onclick="return Delete('@processo.id');">
                    @*<object style="cursor:pointer;height: 2rem;" data="~/img/icones/excluir.svg"></object>*@
                    ❌&nbsp;Excluir
                </button>
            </div>
        </div>
    </td>
</tr>
<tr data-row-id="@processo.id" style="border-bottom: 1px solid #cdcdcd">
    <td class="pt-0" colspan="2">
        @Html.Partial("Templates/_processoSteps", processo)
    </td>
</tr>