@model ClassificacaoModel
@{
    Dictionary<string, string> classes = new Dictionary<string, string>()
{
        {"azul", "badge bg-info"},
        {"laranja", "badge bg-warning"},
        {"verde", "badge bg-success"},
        {"branco", ""},
        {"vermelho", "badge bg-danger"},
    };
    var ObterDestaque = new Func<string, string>((s) => string.IsNullOrEmpty(s) ? "" : classes.ContainsKey(s) ? classes[s] : classes["branco"]);
}
<style>

    .wm {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: .1;
        display: none;
        position: fixed;
        z-index: 99999;
        text-align: center;
    }

        .wm > img {
            height: 100%;
            width: auto !important;
        }

    .focus .wm {
        display: block;
    }

    .focus {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(53,173,41);
        background: linear-gradient(45deg, rgba(53,173,41,1) 0%, rgba(176,255,169,1) 48%, rgba(69,217,54,1) 100%);
        /*width: 1920px;
        height: 1080px;*/
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

        .focus img {
            width: 48px;
        }

        .focus td {
            font-size: 32px;
            font-weight: 600;
            padding: 0;
        }

            .focus td.fw-bold {
                font-size: 38px;
                font-weight: 900;
            }

        .focus .titulo {
            font-size: 108px;
        }

        .focus .sub {
            font-size: 72px;
        }

        .focus .legenda {
            font-size: 24px;
            font-weight: bold;
            padding-left: 8px;
        }

        .focus .data {
            font-size: 108px;
        }

    .br {
        border-right: 1px solid #030303;
    }
</style>
<div class="wm">
    <img src="~/img/logo-1.png" />
</div>
<h1 class="fs-sport text-center sub">Classificação Atualizada!</h1>
<h1 class="fs-sport text-center titulo">@Model.nomeCampeonato</h1>
<div class="row">
    @foreach (var grupo in Model.classificacao.GroupBy(_ => _.grupo))
    {


        <div class="col-3 br">
            <h1>Grupo @grupo.Key</h1>
            <table id='tabela' class="table table-borderless">
                <thead>
                    <tr class="align-middle">
                        <th class="text-center" scope="col" colspan="3">Clube</th>
                        <th class="text-center" scope="col">Pontos</th>
                        <th class="text-center" scope="col">PJ</th>
                        @*<th class="text-center" scope="col">VIT</th>
                        <th class="text-center" scope="col">E</th>
                        <th class="text-center" scope="col">DER</th>
                        <th class="text-center" scope="col">GP</th>
                        <th class="text-center" scope="col">GC</th>
                        <th class="text-center" scope="col">SG</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var time in grupo)
                    {

                        <tr class="align-middle">
                            <td class="fw-bold text-center">@(time.posicao)º</td>
                            <td class="text-center"><img width="32" src='~/img/LOGO_@(time.time.sigla).png' onerror="if (this.src != 'error.jpg') this.src = 'data:image/png;base64, @time.brasao';" /></td>
                            <td class="fw-bold text-start">@time.clube</td>
                            <td class="fw-bold text-center">@time.pontos</td>
                            <td class="fw-bold text-center">@time.partidasJogadas</td>
                            @*<td class="text-center">@time.vitorias</td>
                            <td class="text-center">@time.empates</td>
                            <td class="text-center">@time.derrotas</td>
                            <td class="text-center">@time.golsPro</td>
                            <td class="text-center">@time.golsContra</td>
                            <td class="text-center">@time.saldoGols</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<div class="row">
    <div class="col-4">
        <div class="legenda" role="alert">
            @foreach (var l in Model.legenda)
            {
                @Html.Raw(l)<br />
            }
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="data fs-sport">
            @DateTime.Now.ToString("dd/MM/yyyy")
        </div>
    </div>
    <div class="col-4">
    </div>
</div>


