@model ClassificacaoModel.PartialModel
@{
    Dictionary<string, string> classes = new Dictionary<string, string>()
{
        {"azul", "badge bg-info"},
        {"laranja", "badge bg-warning"},
        {"verde", "badge bg-success"},
        {"branco", "badge bg-white"},
        {"vermelho", "badge bg-danger"},
    };
    var ObterDestaque = new Func<string, string>((s) => string.IsNullOrEmpty(s) ? "" : classes.ContainsKey(s) ? classes[s] : classes["branco"]);
}
<style>

    .wm {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: .1;
        display: none;
        position: fixed;
        z-index: 99999;
        text-align: center;
    }

        .wm > img {
            height: 100%;
            width: auto !important;
        }

    .focus .wm {
        display: block;
        display: none;
    }

    .focus {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(53,173,41);
        background: linear-gradient(45deg, rgba(53,173,41,1) 0%, rgba(176,255,169,1) 48%, rgba(69,217,54,1) 100%);
        width: 1920px;
        height: 1080px;
        z-index: 9999;
    }

        .focus img {
            width: 48px;
        }

        .focus .titulo {
            font-size: 90px;
        }

        .focus .sub {
            font-size: 50px;
        }

        .focus .legenda {
            font-size: 24px;
            font-weight: bold;
            padding-left: 8px;
        }

        .focus .data {
            font-size: 90px;
        }

    .br {
        border-right: 1px solid #030303;
    }

    .cabecalho {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;
        flex-direction: row;
    }

    .focus .cabecalho div {
        font-weight: 900;
        font-size: 24px;
    }

    .negrito {
        font-weight: 900;
    }

    .corpo {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: row;
        height: 70px;
        font-size: 16px;
        line-height: 2rem;
    }


    .focus .corpo {
        font-size: 32px;
        line-height: 2rem;
    }

        .corpo .clube {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

    .flex-6 {
        flex: 6;
    }

    .alinhar {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-between;
        height: 100%;
    }

    .font-16 {
        font-size: 16px;
    }
</style>
<div class="wm">
    <img src="~/img/logo-1.png" />
</div>
<div class="alinhar">

    <h1 class="fs-sport text-center sub">Classificação Atualizada!</h1>
    <h1 class="fs-sport text-center titulo">@Model.nomeCampeonato</h1>

    <div class="row">

        @foreach (var grupo in Model.classificacao.GroupBy(_ => _.grupo))
        {
            <div class="col-6">
                <h1 class="text-center">Grupo @grupo.Key</h1>
                <div class="cabecalho">
                    <div class="flex-1 cor text-capitalize">&nbsp;</div>
                    <div class="flex-1 posicao text-center">#</div>
                    <div class="flex-6 clube text-center">Clube</div>
                    <div class="flex-1 pontos text-center">PTS</div>
                    <div class="flex-1 partidas text-center">PJ</div>
                    <div class="flex-1 text-center">VIT</div>
                    <div class="flex-1 text-center">E</div>
                    <div class="flex-1 text-center">DER</div>
                    <div class="flex-1 text-center">GP</div>
                    <div class="flex-1 text-center">GC</div>
                    <div class="flex-1 text-center">SD</div>
                </div>
                @foreach (var time in grupo)
                {
                    <div class="corpo">
                        <div class="flex-1 text-center">
                            <span class="@ObterDestaque(time.corDestaque) font-16">&nbsp;</span>
                        </div>
                        <div class="flex-1 posicao text-center negrito">
                            @(time.posicao)º
                        </div>
                        <div class="flex-6 clube text-center negrito">
                            <div class="emblema flex-1">
                                <img width="32" src='~/img/LOGO_@(time.time.sigla).png' onerror="if (this.src != 'error.jpg') this.src = 'data:image/png;base64, @time.brasao';" />
                            </div>
                            <div class="nome flex-6 text-start">@time.clube</div>
                        </div>
                        <div class="flex-1 pontos text-center negrito">@time.pontos</div>
                        <div class="flex-1 partidas text-center negrito">@time.partidasJogadas</div>
                        <div class="flex-1 text-center">@time.vitorias</div>
                        <div class="flex-1 text-center">@time.empates</div>
                        <div class="flex-1 text-center">@time.derrotas</div>
                        <div class="flex-1 text-center">@time.golsPro</div>
                        <div class="flex-1 text-center">@time.golsContra</div>
                        <div class="flex-1 text-center">@time.saldoGols</div>
                    </div>
                }
            </div>
        }
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="legenda" role="alert">
                @foreach (var l in Model.legenda)
                {
                    @Html.Raw(l)<br />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="data fs-sport">
                @DateTime.Now.ToString("dd/MM/yyyy")
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>