@page
@model ClassificacaoModel
@{
    ViewData["Title"] = "Classificação";
}

<div class="text-center">
    <h1 class="display-4">Gerador de Classificação</h1>

</div>

<div class="row g-5">
    <div class="col-4 offset-4">
        <div class="input-group">
            <select name="ddlCampeonato" class="form-select">
                <option selected>Selecione</option>
                @foreach (var camp in Model.campeonatosAtivos)
                {
                    if (Futebox.Models.CampeonatoUtils.Config[camp].fases?.Count() > 0)
                    {
                        <optgroup label="@camp">
                            @foreach (var fase in Futebox.Models.CampeonatoUtils.Config[camp].fases)
                            {
                                <option value="@($"{(int)camp},{fase}")">@($"{camp} - {fase}")</option>
                            }
                        </optgroup>
                    }
                    else
                    {
                        <option value="@($"{(int)camp},geral")">@($"{camp} - Geral")</option>
                    }
                }
            </select>
            <button type="button" onclick="Pesquisar()" class="btn btn-primary">🔍 Pesquisar</button>
        </div>
    </div>
</div>
<div id="classificacao"></div>

@section Scripts{
    <script>

        var view = {
            ddlCampeonato: null,

            campeonato: null,
            temFase: null,
            fase: null,

            data: () => { },
            post: (url, data, success) => $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                success: success,
                contentType: "application/json; charset=utf-8"
            })
        };

        view.__defineGetter__('ddlCampeonato', () => $('[name=ddlCampeonato]'));
        view.__defineGetter__('campeonato', () => view.ddlCampeonato.val().split(',')[0]);
        view.__defineGetter__('fase', () => view.ddlCampeonato.val().split(',')[1]);
        view.__defineGetter__('grupos', () => Array.from($('[data-grupo]:checked')).map(_ => (_.attributes["data-grupo"].value)));

        view.__defineGetter__('config', () => $('[data-config]'));

        view.data = (social) => {
            var config = $('[data-config]');

            if (social) config = $(`[data-config="${social}"]`);

            var data = [];

            for (var c of config) {
                var $config = $(c);
                var $dataExecucao = $config.find('[name=dataExecucao]');
                var viewName = $config.find('[name=viewName]').val();

                data.push({
                    campeonato: ~~view.campeonato,
                    fase: (view.fase == 'geral' ? null : view.fase),
                    temFases: (view.fase != 'geral'),
                    classificacaoPorGrupos: (view.grupos.length > 1),
                    grupos: view.grupos,
                    social: ~~social,
                    viewName: viewName,
                    checked: true,
                    dataExecucao: $dataExecucao.val()
                });
            }
            return data;
        };

        $(document).ready(() => RestoreCookie());

        function Pesquisar() {

            SaveCookie();

            fetch(`/classificacao?handler=Campeonato&campeonato=${view.campeonato}&fase=${view.fase}`)
                .then((response) => response.text())
                .then((result) => document.getElementById('classificacao').innerHTML = result);
        }

        function VisualizarMiniatura(s, w, h) {
            var data = view.data(s);
            console.log(data);
            window.open(`/Miniaturas?t=classificacao&q=${JSON.stringify(data[0])}&w=${w}&h=${h}`, '_blank');
        }

        function GerarProcesso(social) {
            var data = view.data(social).filter(_ => _.checked);
            debugger
            console.log(data);
            view.post(`/api/processo/classificacao`, data, (response) => { console.log(response); $.SendToast('ok', 'Processo criado!') })
                .fail(_ => console.error(_));
        }

        function SaveCookie() {
            localStorage.setItem('classificacao', JSON.stringify({ args: [view.ddlCampeonato.val()] }))
        }

        function RestoreCookie() {
            var v = JSON.parse(localStorage.getItem('classificacao') || '{ "args":[] }');
            if (v.args && v.args.length == 1) {
                view.ddlCampeonato.val(v.args[0]);
            }
        }

    </script>
    @if ((Model.campeonatoFoco.HasValue))
    {
        <script>
            Ver('@((int)Model.campeonatoFoco)');
            $('#classificacao').addClass('focus');
        </script>
    }
}