@page
@model Futebox.Pages.ProcessosModel
@{
    ViewData["Title"] = "Processos";
}
<div class="row">
    <div class="col-12">
        <table id='tabela' class="table">
            <thead>
                <tr class="align-middle">
                    <th scope="col"></th>
                    <th scope="col">#/#</th>
                    <th scope="col">nome</th>
                    <th scope="col">tipo</th>
                    <th scope="col">agendado?</th>
                    <th width="138px" scope="col">hora</th>
                    <th width="138px" scope="col">acao</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var processo in Model.processos)
                {
                    @Html.Partial("Templates/_processoTableRow", Tuple.Create(Model, processo))
                }
            </tbody>
        </table>
    </div>
</div>
<div id="card"></div>

<div class="toast-container">

</div>

@section Scripts{
    <script>

        var processoStatus = {
            '@((int)Futebox.Models.Enums.StatusProcesso.Erro)': '@($"{Futebox.Models.Enums.StatusProcesso.Erro}")',
            '@((int)Futebox.Models.Enums.StatusProcesso.Executando)': '@($"{Futebox.Models.Enums.StatusProcesso.Executando}")',
            '@((int)Futebox.Models.Enums.StatusProcesso.Pendente)': '@($"{Futebox.Models.Enums.StatusProcesso.Pendente}")',
            '@((int)Futebox.Models.Enums.StatusProcesso.Sucesso)': '@($"{Futebox.Models.Enums.StatusProcesso.Sucesso}")',
        }

        function UpdateRow(id) {
            $.get(`/processos?handler=ProcessoTableRow&processoId=${id}`, (r) => {
                var remover = $(`[data-row-id="${id}"]`);
                remover.after(r);
                remover.remove();
            })
        }

        function Play(processo) {
            $.get(`/api/processo/executar/${processo}`, s => {
                UpdateRow(processo);
                $.SendToast(s.id, processoStatus[s.status])
            }).fail(function () {
                UpdateRow(processo);
            });;
        }
        function Delete(processo) {
            $.post(`/api/processo/${processo}/deletar`, {}, s => {
                $(`[data-row-id="${processo}"]`).remove();
            });
        }
        function Abrir(processo) {
            $.get(`/api/processo/arquivos/${processo}`);
        }
        function Agendar(processo) {
            var row = $(`[data-row-id="${processo}"]`);
            var hora = row.find('.hora').val();
            if (!hora) {
                $.SendToast(processo, 'Não agendado, falta hora!')
                return;
            }
            $.get(`/api/processo/agendar/${processo}?hora=${hora.split(':')[0]}&minuto=${hora.split(':')[1]}`).then(_ => {
                $.SendToast(processo, 'Processo agendado!')
            });
        }

        function Notificar(processo) {
            var row = $(`[data-row-id="${processo}"]`);
            var hora = row.find('.hora').val();
            if (!hora) {
                $.SendToast(processo, 'Não agendado, falta hora!')
                return;
            }
            $.get(`/api/processo/notificar/${processo}`);
        }
    </script>
}
