@page
@model Futebox.Pages.ProcessosModel
@{
    ViewData["Title"] = "Processos";
}
<div class="row">
    <div class="col-12">
        <table id='tabela' class="table">
            <thead>
                <tr class="align-middle">
                    <th scope="col"></th>
                    <th scope="col">#/#</th>
                    <th scope="col">nome</th>
                    <th scope="col">tipo</th>
                    <th scope="col">link</th>
                    <th scope="col">status</th>
                    <th scope="col">processado</th>
                    <th scope="col">acao</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var processo in Model.processos)
                {
                    @Html.Partial("Templates/_processoTableRow", Tuple.Create(Model, processo))
                }
            </tbody>
        </table>
    </div>
</div>
<div id="card"></div>

<div class="toast-container">

</div>

@section Scripts{
    <script>

        var processoStatus = {
            '@((int)Futebox.Models.Processo.Status.Erro)': '@($"{Futebox.Models.Processo.Status.Erro}")',
            '@((int)Futebox.Models.Processo.Status.Executando)': '@($"{Futebox.Models.Processo.Status.Executando}")',
            '@((int)Futebox.Models.Processo.Status.Pendente)': '@($"{Futebox.Models.Processo.Status.Pendente}")',
            '@((int)Futebox.Models.Processo.Status.Sucesso)': '@($"{Futebox.Models.Processo.Status.Sucesso}")',
        }

        function UpdateRow(id) {
            $.get(`/processos?handler=ProcessoTableRow&processoId=${id}`, (r) => {
                var remover = $(`[data-row-id="${id}"]`);
                remover.after(r);
                remover.remove();
            })
        }

        function Play(processo) {
            $.get(`/api/processo/executar/${processo}`, s => {
                UpdateRow(processo);
                $.SendToast(s.id, processoStatus[s.status])
            }).fail(function () {
                UpdateRow(processo);
            });;
        }
        function Delete(processo) {
            $.post(`/api/processo/${processo}/deletar`, {}, s => {
                $(`[data-row-id="${processo}"]`).remove();
            });
        }
        function Abrir(processo) {
            $.get(`/api/processo/arquivos/${processo}`);
        }
    </script>
}
