@page
@model Futebox.Pages.ProcessosModel
@{
    ViewData["Title"] = "Processos";
    bool show = false;
    bool tableView = false;

    var arquivados = Model.processos.FindAll(_ => _.Item1.agendamento < DateTime.Today && _.Item1.criacao < DateTime.Today);
    var hoje = Model.processos.FindAll(_ => _.Item1.agendamento >= DateTime.Today || _.Item1.criacao >= DateTime.Today);

    var agendados = hoje.FindAll(_ => _.Item1.agendado && _.Item1.status == Models.Enums.StatusProcesso.Criado);

    var criados = hoje.FindAll(_ => !_.Item1.agendado && _.Item1.status == Models.Enums.StatusProcesso.Criado);

    var executados = hoje.FindAll(_ =>
        _.Item1.status != Models.Enums.StatusProcesso.Criado);

}
<div class="well">
    <button class="btn btn-info" onclick="Jobs()">Jobs</button>
</div>
<div class="row">
    <div class="col">
        <div class="col">
            <h4 class="h4">Agendados</h4>
        </div>
        @(await Html.PartialAsync("Templates/_processoAccordion", agendados) )
    </div>
    <div class="col">
        <div class="col">
            <h4 class="h4">Criados</h4>
        </div>
        @(await Html.PartialAsync("Templates/_processoAccordion", criados) )
    </div>
    <div class="col">
        <div class="col">
            <h4 class="h4">Execução</h4>
        </div>
        @(await Html.PartialAsync("Templates/_processoAccordion", executados) )
    </div>
</div>
<hr />
<div class="row">
    <div class="col text-center">
        <h4 class="h4">ARQUIVADOS</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        @(await Html.PartialAsync("Templates/_processoAccordion", arquivados))
    </div>
</div>
<div class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="plog" class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function Executar(processo, sub) {
            if ('@(Settings.DEBUGMODE ? "1":"0")' == '1') alert("DEBUGMODE ATIVO!");
            $.post(`/api/processo/${processo}/executar`, {}, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Agendar(processo) {
            if ('@(Settings.DEBUGMODE ? "1":"0")' == '1') alert("DEBUGMODE ATIVO!");
            var row = $(`[data-row-id="${processo}"]`);

            var data = row.find('.data').val();
            data = data.split('T');

            var dataSplited = data[0].split('-');
            var horaSplited = data[1].split(':');

            $.get(`/api/processo/${processo}/agendar?dia=${dataSplited[2]}&mes=${dataSplited[1]}&ano=${dataSplited[0]}&hr=${horaSplited[0]}&min=${horaSplited[1]}&sec=${horaSplited[2]}`).then(_ => {
                $.SendToast(processo, 'Processo agendado!')
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function AgendarCancelar(processo) {
            $.get(`/api/processo/${processo}/agendar-cancelar`).then(_ => {
                $.SendToast(processo, 'Processo cancelado!')
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Jobs(processoId) {
            $('#plog').html('');
            var url = processoId ? `/api/processo/${processoId}/job` : `/api/processo/jobs`;
            $.get(url, s => {
                console.log(s);
                $('#plog').html(`<pre>${JSON.stringify(s)}</pre>`);
                $('.modal').modal('show');
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Pasta(pasta) {
            $.get(`/api/processo/pasta?q=${encodeURIComponent(pasta)}`)
                .fail(function () {
                    $.SendToast(s.id, "FALHOU")
                });
        }

        function Log(processo) {
            $('#plog').html('');
            $.get(`/api/processo/${processo}/log`, s => {
                console.log(s);
                $('#plog').html(`<pre>${s}</pre>`);
                $('.modal').modal('show');
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Delete(processo) {
            if (confirm("Remover?")) {
                $.post(`/api/processo/${processo}/deletar`, {}, s => {
                    $(`[data-row-id="${processo}"]`).remove();
                }).fail(function () {
                    $.SendToast(s.id, "FALHOU")
                });
            }
        }

        function Imagem(processo) {
            $.get(`/api/processo/${processo}/imagem`, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }


        function Audio(processo) {
            $.get(`/api/processo/${processo}/audio`, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Video(processo) {
            $.get(`/api/processo/${processo}/video`, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Publicar(processo) {
            $.get(`/api/processo/${processo}/publicar`, s => {
                // UpdateRow(processo);
                $.SendToast(s.id, "Publicando")
            }).fail(function () {
                // UpdateRow(processo);
            });
        }

        function TodasAgendas() {
            fetch(`/processos?handler=TableAgenda`)
                .then((response) => {
                    return response.text();
                })
                .then((result) => {
                    $('#plog').html('');
                    $('#plog').html(`<pre>${result}</pre>`);
                    $('.modal').modal('show');
                });
        }

    </script>
}
