@page
@model Futebox.Pages.RodadasModel
@{
    ViewData["Title"] = "Rodadas";
}

<div class="row g-5">

    <div class="text-center">
        <h1 class="display-4">Gerador de Rodadas</h1>
    </div>
</div>

<div id="rodada">

</div>

<div>

    <div class="row g-5">
        @foreach (var camp in Models.CampeonatoUtils.ObterCampeonatosAtivos())
        {
            <div class="co d-flex flex-column">
                <h1>@($"{camp}")</h1>
                <div>
                    @*<ul id="@($"ul-{(int)camp}")"></ul>*@
                    @*<input id="@($"rodada-{(int)camp}")" type="number" />*@
                    <div class="input-group">

                        <select id="@($"rodada-{(int)camp}")" class="form-select">
                            <option>Nenhum</option>
                        </select>
                        <button class="btn btn-outline-primary" onclick="Ver('@((int)camp)')">👁</button>
                        <button class="btn btn-outline-primary" onclick="GerarVideo('@((int)camp)')">⚙</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>

        function Ver(camp) {
            var rodada = $(`#rodada-${camp}`).val();
            Focar(camp, rodada);
        }

        function Focar(camp, r) {
            fetch(`/rodadas?handler=Rodada&campeonato=${camp}&rodada=${r}`)
                .then((response) => {
                    return response.text();
                })
                .then((result) => {
                    document.getElementById('rodada').innerHTML = result;
                });
        }

        function GerarVideo(camp) {
            debugger;
            var rodada = $(`#rodada-${camp}`).val();
            $.post(`/api/processo/rodada/${camp}/${rodada}`, (response) => {
                $.SendToast(response.id, 'Processo criado!');
            });
        }

        $('#rodada').click(() => {
            $('#rodada').toggleClass('focus');
        });



    </script>
    @if ((Model.campeonatoFoco.HasValue && Model.rodadaFoco.HasValue))
    {
        <script>
            Focar('@((int)Model.campeonatoFoco)', '@((int)Model.rodadaFoco)');
            $('#rodada').addClass('focus');
            $('#txtRodada').val('@((int)Model.rodadaFoco)')
        </script>
    }
    @foreach (var camp in Models.CampeonatoUtils.ObterCampeonatosAtivos())
    {
        <script>
            $(() => {
                var camp = '@((int)camp)';
                $.get(`/api/rodada/ultimarodada/${camp}`, (response) => {
                    debugger;
                    for (var r of response) {
                        var s = r.split(',');
                        var li = $(`<option value="${s[1]}">${s[0]} - ${s[1]}ª Rodada</option>`);
                        $(`#rodada-${camp}`).append(li);
                    }
                    //$(`#rodada-${camp}`).val();
                });
            })
        </script>
    }
}
