@model ClassificacaoModel.PartialModel
@{
    Dictionary<string, string> classes = new Dictionary<string, string>()
{
        {"azul", "badge bg-info"},
        {"laranja", "badge bg-warning"},
        {"verde", "badge bg-success"},
        {"branco", "badge bg-white"},
        {"vermelho", "badge bg-danger"},
    };
    var ObterDestaque = new Func<string, string>((s) => string.IsNullOrEmpty(s) ? "" : classes.ContainsKey(s) ? classes[s] : classes["branco"]);
}
@{
    var grouped = Model.classificacao.GroupBy(_ => _.grupo);
    var deparaGruposXColunas = new Dictionary<int, int>
{
        // Quantidade Grupos x Tamanho Coluna
        { 1, 12 },
        { 2, 6 },

        { 3, 4 },
        { 4, 3 },

        { 5, 4 },
        { 6, 4 },

        { 7, 3 },
        { 8, 3 },
    };
    var sociaisHabilitadasPagina = new Futebox.Models.Enums.RedeSocialFinalidade[] {
        Futebox.Models.Enums.RedeSocialFinalidade.InstagramVideo,
        Futebox.Models.Enums.RedeSocialFinalidade.YoutubeVideo,
        //Futebox.Models.Enums.RedeSocialFinalidade.YoutubeShorts
    };
}
<hr />


<div class="row">
    <div class="accordion" id="accord">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading@("CLF")">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@("CLF")" aria-expanded="true" aria-controls="collapse@("CLF")">
                    Cassificação
                </button>
            </h2>
            <div id="collapse@("CLF")" class="accordion-collapse collapse show" aria-labelledby="heading@("CLF")" data-bs-parent="#accord">
                <div class="accordion-body">
                    @foreach (var grupo in grouped)
                    {

                        <div class="col-@(deparaGruposXColunas[grouped.Count()])">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" data-grupo="@(grupo.Key)">
                                            </div>
                                        </td>
                                        <td colspan="4">Grupo @grupo.Key</td>
                                    </tr>
                                    <tr>
                                        <td class="">#</td>
                                        <td class="">Clube</td>
                                        <td class="">Clube</td>
                                        <td class="">PTS</td>
                                        <td class="">PJ</td>
                                        <td class="">VIT</td>
                                    </tr>
                                </thead>
                                @foreach (var time in grupo)
                                {
                                    <tr class="corpo">
                                        <td class="">
                                            @(time.posicao)º
                                        </td>
                                        <td class="">
                                            <div>
                                                <img width="32" src='@(time.time.ObterLogoLocal())' onerror="if (this.src != 'error.jpg') this.src = 'data:image/png;base64, @time.brasao';" />
                                            </div>
                                        </td>
                                        <td><div class="">@time.clube</div></td>
                                        <td class="">@time.pontos</td>
                                        <td class="">@time.partidasJogadas</td>
                                        <td class="">@time.vitorias</td>
                                    </tr>
                                }
                            </table>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("Templates/_configurarProcesso",
    new Futebox.Pages.ConfigurarProcessoModel() { 
        redeSocials = sociaisHabilitadasPagina,
        modo = ConfigurarProcessoModel.Mode.view,
        tituloPadrao = $"Classificação {Model.nomeCampeonato} {DateTime.Now.ToString("yyyy")} - Atualizada {DateTime.Now.ToString("dd/MM/yyyy")}"
    })
